<!DOCTYPE html>
  <head>
  <title>GitViz</title>
  <link rel="stylesheet" type="text/css" href="static/base.css">
  </head>
  
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flash>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if current_user.is_authenticated() or 'remember_token' in flask_session %}
      <p>Logged in as {{ current_user.username }} </p>
      <li><a href="/logout">Log Out</a></li>
    {% else %}
      <li><p>Need to sign up for GitViz? <a href="/signup">SIGN UP</a></p></li>
      <li><a href="/">Login<a></li>
    {% endif %}


    {% block body %}
    {% endblock %}
  </body>
